<style type="text/css">
  th{
    font-size: 25px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){

    $(".glyphicon-plus").click(function(){
      var id = this.id.split('_');
      $.ajax({
        url: "<%= add_quantity_path %>",
        type: "GET",
        data:{id: id[2]},
        success: function(data) {

        }
      });
    });

    $(".glyphicon-minus").click(function(){
      var id = this.id.split('_');
      $.ajax({
        url: "<%= deduct_quantity_path %>",
        type: "GET",
        data:{id: id[2]},
        success: function(data) {

        }
      });
    });

    $(".remove_cart").click(function(){
      var id = this.id.split('_');
      var total_price = $('#total_price').text()
      var item_price = $('#item_price_' + id[2]).text();
      $.ajax({
        url: "<%= remove_cart_path %>",
        type: "GET",
        data:{id: id[2]},
        success: function(data) {
          $('#'+data.product_id).remove()
          $('#badge').html(data.cart_count)
          if($('#badge').text() == 0){
            $('#cart_table').remove()
            $('#empty_cart_heading').show();
          }
          var new_price = total_price - item_price;
          $('#total_price').html(new_price)
        }
      });
    });
  });
</script>

<div style="width: 60%;margin: auto;">
  <h1>Your Cart</h1>
  <h3 id="empty_cart_heading" style="text-align: center; display: none;">You have no items in your cart right now!</h3>
  <table class="table" id="cart_table">
    <% if session[:cart_id].blank? %>
      <h3 style="text-align: center;">You have no items in your cart right now!</h3>
    <% else %>
      <thead class="thead-default">
        <tr>
          <th></th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @total_price = 0 %>
        <% @cart_items.each do |cart|%>
          <tr id="<%= cart.product.id %>">
            <td><%= image_tag(cart.product.image.url, size: '150x100') if cart.product.image? %></td>
            <td><%= cart.product.name %></td>
            <% if cart.product.discounted_price.present? %>
              <td>
                <a href="">
                <span class="glyphicon glyphicon-plus" id="plus_<%= cart.id %>_<%= cart.product.id %>"></span></a>
                <input type="mumber" value="<%= cart.product_quantity%>" style="width: 45px; display: inline-block;" class="form-control" disabled>
                <% if cart.product_quantity>1 %>
                  <a href=""><span class="glyphicon glyphicon-minus" id="minus_<%= cart.id %>_<%= cart.product.id %>"></span></a>
                <% end %>
              </td>
            <% else %>
              <td>
                <a href="">
                <span class="glyphicon glyphicon-plus" id="plus_<%= cart.id %>_<%= cart.product.id %>"></span></a>
                <input type="mumber" value="<%= cart.product_quantity%>" style="width: 45px; display: inline-block;" class="form-control" disabled>
                <% if cart.product_quantity>1 %>
                  <a href=""><span class="glyphicon glyphicon-minus" id="minus_<%= cart.id %>_<%= cart.product.id %>"></span></a>
                <% end %>
              </td>
            <% end %>
            <% if cart.product.discounted_price.present? %>
              <td id="item_price_<%= cart.product.id %>"><%= @item_price = cart.product.discounted_price*cart.product_quantity %></td>
            <% else %>
              <td id="item_price_<%= cart.product.id %>"><%= @item_price = cart.product.price*cart.product_quantity %></td>
            <% end %>
            <td>
              <input type="button" class="btn btn-danger remove_cart" value="Remove From Cart"
                id="remove_cart_<%= cart.product.id %>"></input>
            </td>
          </tr>
          <% @total_price = @total_price + @item_price %>
        <% end %>
        <tr>
          <td colspan="2" style="font-size: 30px;text-align: right;">
            <b>Estimated Total</b>
          </td>
          <td style="font-size: 30px;">
            Rs:
          </td>
          <td id="total_price" style="font-size: 30px;text-align:left;">
            <%= @total_price %>
          </td>
          <td style="font-size: 30px;">
            <%= link_to "Check Out", delivery_address_path, class:"btn btn-primary" %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>